.about-container {
    width: 700px;
    margin-left: 5%;
}

.about-intro-container {
    width: 850px;
    display: flex;
    margin-left: 20%;
    margin-top: 3%;
    font-family: 'Open Sans';
    font-size: 14px;

}

@media only screen and (max-width: 500px) {
    .img-style{
        width: 100%;
        margin-bottom: 5%;
    }
    .about-container{
        width:200px;
    }
    .about-intro-container{
        display: block;
        width: 200px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 970px) {
    .img-style{
        width: 100%;
        margin-bottom: 5%;
    }
    .about-container{
        width:400px;
    }
    .about-intro-container{
        display: block;
        width: 400px;
    }
}