.footer-container {
    margin-left: 20%;
    bottom: 0;
    display: fixed;


}

.footer-flex {

    display: flex;
}

.footer-item {
    margin: 8px;
    height: 20px;
}
.icon {
    height: 50px;
}

a {
    color:#3d3d3d;
}

.linkedin, .git, .email {
    transition: 0.2s ease ;
}
.linkedin:hover{
    color: #0077B5;
}

.git:hover{
    color:#040204;
}

.email:hover {
    color: #d44638;
}

@media only screen and (max-width: 500px) {
    .footer-container{
        width: 100%;
        margin-bottom: 5%;
        margin-left: 10%;
    }
    
}

@media only screen and (min-width: 501px) and (max-width: 970px) {
    .img-style{
        width: 100%;
        margin-bottom: 5%;
    }
    .about-container{
        width:500px;        
        margin-left: 0;
    }
    .about-intro-container{
        display: block;
        width: 500px;
        margin-left: 20%;
    }
}