.footer-container {
    margin-left: 20%;
    bottom: 0;
    display: fixed;


}

.footer-flex {

    display: flex;
}

.footer-item {
    margin: 8px;
    height: 20px;
}
.icon {
    height: 50px;
}

a {
    color:#3d3d3d;
}

.linkedin, .git, .email {
    transition: 0.2s ease ;
}
.linkedin:hover{
    color: #0077B5;
}

.git:hover{
    color:#040204;
}

.email:hover {
    color: #d44638;
}